#Checkout {
  margin-bottom: 60px;
  margin-top: 60px;

  .row {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 30px;
    .col-12 {
      display: flex;
      flex-wrap: wrap;

      flex: 0 0 100%;
      max-width: 100%;
      padding-right: 15px;
      .col2-set {
        padding: 1.5rem;
        flex: 1;
        border: 2px solid #c93;
        border-radius: 4px;
        .col-1 {
          max-width: 100% !important;
          position: relative;
          width: 100%;
          padding-right: 15px;
          padding-left: 15px;

          .woocommerce-billing-fields {
            h3 {
              font-size: 1rem;
              font-weight: 600;
              text-transform: uppercase;
              padding-bottom: 0.75rem;
              margin-bottom: 0.75rem;
              border-bottom: 1px solid #edeef5;
            }
            .field {
              display: flex;
              flex-flow: row wrap;
              margin-left: -10px;
              margin-right: -10px;
              p {
                display: flex;
                flex-direction: column;
                flex: 0 0 100%;
                max-width: 100%;
                padding-left: 10px;
                padding-right: 10px;
                margin-left: 0;
                margin-right: 0;
                font-size: 12px;
                font-weight: 400;
                letter-spacing: 0;
                line-height: 24px;
                label {
                  font-size: 0.7rem;
                  display: inline-block;
                  margin-bottom: 0.5rem;
                }
                span {
                  width: 100%;
                  input {
                    display: inline-flex;
                    align-items: center;
                    font-size: 0.9375rem;
                    width: 100%;
                    height: 2.5rem;
                    padding: 0 0.9375rem;
                    box-shadow: none;
                    outline: none;
                    appearance: none;
                    color: #202435;
                    background-color: #f3f4f7;
                    border: 1px solid transparent;
                    border-radius: var(--size-form-radius);
                    transition: all 0.2s cubic-bezier(0.28, 0.12, 0.22, 1);
                  }
                }
              }
            }
          }
        }
        .col-2 {
          max-width: 100%;
          width: 100%;
          padding-right: 15px;
          padding-left: 15px;
          .woocommerce-shipping-fields {
            h3 {
              font-size: 1rem;
              font-weight: 600;
              text-transform: uppercase;
              padding-bottom: 0.75rem;
              margin-bottom: 0.75rem;
              border-bottom: 1px solid #edeef5;
              label {
                font-size: 0.75rem;
                font-weight: 600;
              }
              input {
                box-sizing: border-box;
                padding: 0;
              }
            }
          }
          .woocommerce-additional-fields {
            margin-top: 1.875rem;
            p {
              border-top: 1px solid #edeef5;
              display: flex;
              flex-direction: column;
              flex: 0 0 100%;
              max-width: 100%;
              padding-left: 10px;
              padding-right: 10px;
              margin-left: 0;
              padding-top: 30px;
              margin-right: 0;
              label {
                display: inline-block;
                margin-bottom: 0.5rem;
                font-size: 0.8rem;
                font-weight: 600;
              }
              span {
                width: 100%;

                textarea {
                  display: -ms-inline-flexbox;
                  display: inline-flex;
                  min-height: 120px;
                  align-items: center;
                  font-family: var(--font-primary);
                  font-size: 0.85rem;
                  width: 100%;
                  height: 2.5rem;
                  padding: 20px 0.9375rem;
                  box-shadow: none;
                  outline: none;
                  appearance: none;
                  color: #202435;
                  background-color: #edeef5;
                  border: 1px solid transparent;
                  border-radius: 4px;
                  transition: all 0.2s cubic-bezier(0.28, 0.12, 0.22, 1);
                }
              }
            }
          }
        }
      }
      .order-review-wrapper {
        position: sticky;
        top: 100px;
        border: 2px solid #c93;
        border-radius: 4px;
        padding: 1.875rem;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        flex: 0 0 25rem;
        max-width: 25rem;
        margin-left: 1.875rem;
        h3 {
          font-size: 1rem;
          font-weight: 600;
          text-transform: uppercase;
          padding-bottom: 0.75rem;
          margin-bottom: 0.75rem;
          border-bottom: 1px solid #edeef5;
        }
        #order_review {
          table {
            caption-side: bottom;
            border-collapse: collapse;
            width: 100%;
            font-size: 0.8125rem;
            max-width: 100%;
            background-color: transparent;
            thead {
              font-size: 0.7rem;
              tr {
                border-style: solid;
                border-width: 0;
                .product-total {
                  text-align: right;
                }
                th {
                  border: none;
                  border-bottom: 1px solid #edeef5;
                  padding-bottom: 0.75rem;
                  color: #c2c2d3;
                }
              }
            }
            tbody {
              tr {
                border-bottom: 1px solid #edeef5;
                .product-name {
                  font-size: 0.8125rem;
                  padding-right: 1.25rem;
                  padding: 4px;
                  text-align: left;
                }
                .product-total {
                  text-align: right;
                  span {
                    font-size: 0.8rem;
                  }
                }
              }
            }
            tfoot {
              tr {
                th {
                  border: none;
                  border-bottom: 1px solid #edeef5;
                  padding-bottom: 0.75rem;
                  color: #71778e;
                }
                td {
                  padding-top: 0.75rem;
                  padding-bottom: 0.75rem;
                  text-align: right;
                  border: none;
                  border-top: 1px solid #edeef5;
                  ul {
                    list-style: none;
                    padding: 0;
                    font-size: 0.6rem;
                    margin: 0;
                    li {
                      display: flex;
                      margin-bottom: 10px;
                      input {
                        position: relative;
                        top: 4px;

                        margin-right: 0px;
                        margin-left: 7px;
                        vertical-align: middle;
                      }
                      label {
                        font-size: 0.7rem;
                        margin-bottom: 0;
                        vertical-align: middle;
                      }
                    }
                  }
                }
              }
            }
          }
          #payment {
       
              button {
                color: black;
                background-color: #fff !important;
                border: 2px solid #c93 !important;
                width: 100%;
                padding: 0 1.25rem;
                cursor: pointer;
                justify-content: center;
                height: 3.125rem;
                display: inline-flex;
                align-items: center;
                height: 2.5rem;
                font-size: 0.875rem;
                font-weight: 500;
                text-decoration: none;
                padding: 0 0.9375rem;
                border: 1px solid;
                // color: #fff;
                border-radius: 4px;
                box-shadow: none;
                outline: none;
                appearance: none;
                transition: all 0.2s cubic-bezier(0.28, 0.12, 0.22, 1);
              }
            }
          }
        }
      }
    }
  }


@media (max-width: 576px) {
   
  #Checkout .container .row .col-12 {
    // display: block !important;
    flex-direction: column;
    justify-content: center;
    
}

.order-review-wrapper{
    margin: 0 auto !important;
    width: 100% !important;
    align-self: flex-start;
}
#Checkout .container .row .col-12 .order-review-wrapper {
    margin-left: 1rem;
    margin-top: 30px;
    // position: none ;
}

.content-primary{
      gap: 20px !important;
    padding: 0 !important;
  }
}
