@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
}
.shop-detail {
  background-color: #efefef;

  #News-banner {
    height: 500px;

    .banner-part {
      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.5;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        /* Adjust alpha to control darkness */
      }

      min-height: 500px;
      position: relative;
      background-image: url(/assets/images/home/product-img6.jpg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      background-attachment: scroll;

      .banner-content {
        z-index: 100;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        h3 {
          color: #cc9933;
          font-size: 18px;
          line-height: 28px;
          font-weight: 600;
          letter-spacing: 4px;
          text-transform: uppercase;
          text-align: center;
        }

        h1 {
          font-family: "Great Vibes";
          margin: 40px 0px 40px 0px;
          font-size: 128px;
          line-height: 86px;
          font-weight: 400;
          text-align: center;
          color: white;
        }

        .white {
          color: #fff;
          font-size: 18px;
          line-height: 28px;
          letter-spacing: 2px;
          text-align: center;
        }

        .yellow {
          color: #cc9933;
          font-size: 24px;
          line-height: 34px;
          letter-spacing: 2px;
          text-align: center;
        }
      }
    }
  }

  .container {
    padding: 80px 0;
    .product {
      display: flex;
      padding-bottom: 150px;
      .product-left-box {
        position: sticky;
        top: 0;

        .cake-img-slider {
          max-height: 470px;
          // max-width: 460px;
          margin: auto;
          overflow: hidden;
          // overflow-x: scroll;
          // scrollbar-width: none; 
          // -ms-overflow-style: none;
          img {
            filter: grayscale(0);
            // filter: blur(1.5px);
            box-shadow: 0 0 8px rgba(34, 34, 34, 0.16);
            transition: 0.3s;
            width: 100%;
            height: auto;
            // margin: 2px;
          }
        }

        .product-main {
          .slider-img {
            width: 100% ;
            height: 100% !important;

          
          
            position: relative;
            left: 0px;
            top: 0px;
            z-index: 999;
            opacity: 1;
            margin: 0 10px;
            display: block;
            
            img {
              object-fit: contain;
              width: 100% !important;
              height: auto;
              // object-fit: contain;
            }
          }
        }
      }
      .mini-cont {
        padding: 0 20px;
        width: 50%;
        display: flex;
        // justify-content: space-between;
        gap: 30px;
        .info {
          h3 {
            font-family: "Poppins", sans-serif;
            font-size: 36px;
            line-height: 38px;
            color: #000000;
            font-weight: 600;
            padding-bottom: 30px;
          }
          .price {
            color: #cc9933;
            font-size: 30px;
            line-height: 30px;
            margin-bottom: 40px;
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            display: block;
          }
          h6 {
            font-size: 14px;
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            margin-bottom: 15px;
          }
          p {
            font-size: 14px;
            line-height: 31px;
            color: #333;
            margin-bottom: 40px;
            font-family: "Open Sans", sans-serif;
          }
          .single-cart {
            display: flex;
            align-items: center;
            input {
              max-height: 56px;
              border: 2px solid #dfe1dc;
              float: left;
              margin-right: 15px;
              padding: 15px;
            }
            .btn-default {
              max-height: 56px;
              letter-spacing: 1px;
              padding: 18px 40px;
              background-color: #cc9933;
              border-radius: 0;
              display: flex;
              align-items: center;
              font-size: 12px;
              color: #000000;
              font-weight: 600;
              text-transform: uppercase;
            }
          }
        }
        .single-shop-item {
          max-width: 543px;
          max-height: 543px;
          img {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
          }
        }
      }
    }

    .feedback {
      .cont {
        padding-right: 20px;
        padding-left: 20px;
        margin-right: auto;
        margin-left: auto;
        .nav-tabs {
          border-bottom: none;
          li {
            padding: 10px 15px;
            background-color: #f7f7f7;
            margin-right: 2px;
            a {
              font-family: "Poppins", sans-serif;
              font-size: 10px;
              text-transform: uppercase;
              font-weight: 600;
              letter-spacing: 1px;
              color: #333;
              text-decoration: none;
            }
          }
          .active {
            color: #555;
            cursor: default;
            background-color: #fff;
            border: 1px solid #ddd;
            border-bottom-color: transparent;
            border: none;
          }
        }
        .tab-content {
          background-color: #ffffff;
          padding: 60px 92px 75px 72px;

          h5 {
            font-family: "Montserrat", sans-serif;
            font-weight: 700;
            margin-bottom: 44px;
            text-transform: uppercase;
            margin-top: 0;
          }
          .form-group {
            margin: 0 0 45px;
            label {
              font-family: "Montserrat", sans-serif;
              font-weight: 700;
              font-size: 12px;
              line-height: 12px;
              color: #000000;
              text-transform: uppercase;
              margin-bottom: 15px;
            }
            textarea {
              max-height: 174px;
              border: 2px solid #dfe1dc;
              background-color: #fff;
              resize: none;
              border-radius: 0;
            }
          }

          .btn-default {
            font-family: "Poppins", sans-serif;
            background-color: #cc9933;
            border: none;
            color: #000000;
            text-transform: uppercase;
            font-size: 12px;
            padding: 16px 57px 16px 57px;
            font-weight: 600;
            letter-spacing: 2px;
            text-decoration: none !important;
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .content {
    padding: 20px 0px;
    .container {
      .product {
        display: block;
      }
      .mini-cont {
        width: 100%;
        h3 {
          font-size: 24px !important;
          line-height: 30px !important;
          padding-bottom: 15px !important;
        }
      }
      .feedback {
        .tab-content {
          padding: 15px;
          h5 {
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}
