@model LoginDto

    <style>
        li {
            display: block !important;
            background: none !important;
            color: red !important;
        }

        ul {
            background: none !important;
        }
    </style>
<main class="login">
    <section>
        <div class="loginBlack" style="height: 150px; background: #000;"></div>
    </section>
    <div class="content">
        <div class="booking-content">
            <div class="booking-image">
                <img class="booking-img" src="/assets/images/home/restaurant-img-2.jpg" alt="Booking Image">
            </div>
            <div class="booking-form">
                <form id="booking-form" method="post">
                    <h2>Log In</h2>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group form-input">
                        <input required asp-for="EmailOrUsername" />
                        <label asp-for="EmailOrUsername" for="name" class="form-label">Your Email Or Username</label>
                        <span asp-validation-for="EmailOrUsername" class="text-danger"></span>
                    </div>
                    <div class="form-group form-input">
                        <input asp-for="Password" required />
                        <label asp-for="Password" class="form-label">Your Password</label>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>



                    <div class="form-submit">
                        <input type="submit" value="Login" class="submit" id="submit" name="submit" />
                        <p> <input asp-for="RememberMe" /> Remember Me</p>
                        <a href="#" class="vertify-booking">Verify your booking info from your phone</a>
                    </div>
                </form>
            </div>
        </div>

    </div>



</main>
