@model TopicUpdateDto
<form method="post" class="category" style="width: 100%">
    <div class="content-wrapper" style=" height:100vh">
        <div class="page-header">
            <h3 class="page-title"> Form elements </h3>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Forms</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Form elements</li>
                </ol>
            </nav>
        </div>
        <div class="row">
            <div class="col-md-6 grid-margin stretch-card" style=" width:100%">
                <div class="card">
                    <div class="card-body">
                        <form class="forms-sample">
                            <div class="form-group">
                                <label asp-for="Name" for="exampleInputUsername1">Name</label>
                                <input type="text" class="form-control" id="exampleInputTitle" asp-for="Name" placeholder="Name">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div asp-validation-summary="ModelOnly" class="text-danger">  </div>
                            <button type="submit" class="btn btn-primary me-2">Submit</button>
                            <button class="btn btn-dark">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>

