<main class="menu">
    <!-- Banner Start -->
    <section id="Menu-banner">
        <div class="banner-part">
            <div class="banner-content">
                <h3>Restaurant</h3>
                <h1>Menu</h1>
                <p>Juicy Flavours</p>
            </div>
        </div>
    </section>
    <!-- Banner End -->
    <!-- MenuPart Start -->
    <section id="Menu">
        <div class="container">
            <div class="row">

                <div class="menu-left col-lg-4 col-12">
                    <div class="wrapper-img">
                        <img src="/assets/images/menu/img_10.jpg" alt="">
                        <div class="overlay"></div>
                    </div>
                    <div class="wrapper-content">
                        <h3>Asparagus &amp; Halloumi Salad</h3>
                        <div class="empty">(250 G)</div>
                        <p>Beans / Halloumi cheese / Asparagus / Courgettes / Cherry tomatoes</p>
                        <div class="price">18.90</div>
                    </div>
                </div>
                <div class="menu-right col-lg-8 col-12">
                    <div class="inner-content">
                        <h5>Tasty</h5>
                        <h2>Starters</h2>
                    </div>
                    <div class="menu-starter col-12">
                        <ul>
                            <li>
                                <a href="/shop-detail.html">
                                    <div class="item-main">
                                        <h4>
                                            CHILLED PEA &amp; CHERVIL SOUP WITH CRÈME FRAÎCHE <small>(250 G)</small>
                                        </h4>
                                        <div class="zn-priceList-dottedSeparator"></div>
                                        <div class="itemPrice">$10.00</div>
                                    </div>
                                    <div class="item-desc">
                                        Onions / Fresh flat-leaf parsley / Mashed potatoes / Pepper
                                        / Eggs / Tartare sauce
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/shop-detail.html">
                                    <div class="item-main">
                                        <h4>
                                            CHILLED PEA &amp; CHERVIL SOUP WITH CRÈME FRAÎCHE <small>(250 G)</small>
                                        </h4>
                                        <div class="zn-priceList-dottedSeparator"></div>
                                        <div class="itemPrice">$10.00</div>
                                    </div>
                                    <div class="item-desc">
                                        Onions / Fresh flat-leaf parsley / Mashed potatoes / Pepper
                                        / Eggs / Tartare sauce
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/shop-detail.html">
                                    <div class="item-main">
                                        <h4>
                                            CHILLED PEA &amp; CHERVIL SOUP WITH CRÈME FRAÎCHE <small>(250 G)</small>
                                        </h4>
                                        <div class="zn-priceList-dottedSeparator"></div>
                                        <div class="itemPrice">$10.00</div>
                                    </div>
                                    <div class="item-desc">
                                        Onions / Fresh flat-leaf parsley / Mashed potatoes / Pepper
                                        / Eggs / Tartare sauce
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/shop-detail.html">
                                    <div class="item-main">
                                        <h4>
                                            CHILLED PEA &amp; CHERVIL SOUP WITH CRÈME FRAÎCHE <small>(250 G)</small>
                                        </h4>
                                        <div class="zn-priceList-dottedSeparator"></div>
                                        <div class="itemPrice">$10.00</div>
                                    </div>
                                    <div class="item-desc">
                                        Onions / Fresh flat-leaf parsley / Mashed potatoes / Pepper
                                        / Eggs / Tartare sauce
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/shop-detail.html">
                                    <div class="item-main">
                                        <h4>
                                            CHILLED PEA &amp; CHERVIL SOUP WITH CRÈME FRAÎCHE <small>(250 G)</small>
                                        </h4>
                                        <div class="zn-priceList-dottedSeparator"></div>
                                        <div class="itemPrice">$10.00</div>
                                    </div>
                                    <div class="item-desc">
                                        Onions / Fresh flat-leaf parsley / Mashed potatoes / Pepper
                                        / Eggs / Tartare sauce
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/shop-detail.html">
                                    <div class="item-main">
                                        <h4>
                                            CHILLED PEA &amp; CHERVIL SOUP WITH CRÈME FRAÎCHE <small>(250 G)</small>
                                        </h4>
                                        <div class="zn-priceList-dottedSeparator"></div>
                                        <div class="itemPrice">$10.00</div>
                                    </div>
                                    <div class="item-desc">
                                        Onions / Fresh flat-leaf parsley / Mashed potatoes / Pepper
                                        / Eggs / Tartare sauce
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/shop-detail.html">
                                    <div class="item-main">
                                        <h4>
                                            CHILLED PEA &amp; CHERVIL SOUP WITH CRÈME FRAÎCHE <small>(250 G)</small>
                                        </h4>
                                        <div class="zn-priceList-dottedSeparator"></div>
                                        <div class="itemPrice">$10.00</div>
                                    </div>
                                    <div class="item-desc">
                                        Onions / Fresh flat-leaf parsley / Mashed potatoes / Pepper
                                        / Eggs / Tartare sauce
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/shop-detail.html">
                                    <div class="item-main">
                                        <h4>
                                            CHILLED PEA &amp; CHERVIL SOUP WITH CRÈME FRAÎCHE <small>(250 G)</small>
                                        </h4>
                                        <div class="zn-priceList-dottedSeparator"></div>
                                        <div class="itemPrice">$10.00</div>
                                    </div>
                                    <div class="item-desc">
                                        Onions / Fresh flat-leaf parsley / Mashed potatoes / Pepper
                                        / Eggs / Tartare sauce
                                    </div>
                                </a>
                            </li>


                        </ul>

                    </div>
                </div>
                <div style="margin-top: 60px;" class="menu-right col-lg-8 col-12">
                    <div class="inner-content">
                        <h5>Tasty</h5>
                        <h2>Starters</h2>
                    </div>
                    <div class="menu-starter col-12">
                        <ul>
                            <li>
                                <a href="/shop-detail.html">
                                    <div class="item-main">
                                        <h4>
                                            CHILLED PEA &amp; CHERVIL SOUP WITH CRÈME FRAÎCHE <small>(250 G)</small>
                                        </h4>
                                        <div class="zn-priceList-dottedSeparator"></div>
                                        <div class="itemPrice">$10.00</div>
                                    </div>
                                    <div class="item-desc">
                                        Onions / Fresh flat-leaf parsley / Mashed potatoes / Pepper
                                        / Eggs / Tartare sauce
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/shop-detail.html">
                                    <div class="item-main">
                                        <h4>
                                            CHILLED PEA &amp; CHERVIL SOUP WITH CRÈME FRAÎCHE <small>(250 G)</small>
                                        </h4>
                                        <div class="zn-priceList-dottedSeparator"></div>
                                        <div class="itemPrice">$10.00</div>
                                    </div>
                                    <div class="item-desc">
                                        Onions / Fresh flat-leaf parsley / Mashed potatoes / Pepper
                                        / Eggs / Tartare sauce
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/shop-detail.html">
                                    <div class="item-main">
                                        <h4>
                                            CHILLED PEA &amp; CHERVIL SOUP WITH CRÈME FRAÎCHE <small>(250 G)</small>
                                        </h4>
                                        <div class="zn-priceList-dottedSeparator"></div>
                                        <div class="itemPrice">$10.00</div>
                                    </div>
                                    <div class="item-desc">
                                        Onions / Fresh flat-leaf parsley / Mashed potatoes / Pepper
                                        / Eggs / Tartare sauce
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/shop-detail.html">
                                    <div class="item-main">
                                        <h4>
                                            CHILLED PEA &amp; CHERVIL SOUP WITH CRÈME FRAÎCHE <small>(250 G)</small>
                                        </h4>
                                        <div class="zn-priceList-dottedSeparator"></div>
                                        <div class="itemPrice">$10.00</div>
                                    </div>
                                    <div class="item-desc">
                                        Onions / Fresh flat-leaf parsley / Mashed potatoes / Pepper
                                        / Eggs / Tartare sauce
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/shop-detail.html">
                                    <div class="item-main">
                                        <h4>
                                            CHILLED PEA &amp; CHERVIL SOUP WITH CRÈME FRAÎCHE <small>(250 G)</small>
                                        </h4>
                                        <div class="zn-priceList-dottedSeparator"></div>
                                        <div class="itemPrice">$10.00</div>
                                    </div>
                                    <div class="item-desc">
                                        Onions / Fresh flat-leaf parsley / Mashed potatoes / Pepper
                                        / Eggs / Tartare sauce
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/shop-detail.html">
                                    <div class="item-main">
                                        <h4>
                                            CHILLED PEA &amp; CHERVIL SOUP WITH CRÈME FRAÎCHE <small>(250 G)</small>
                                        </h4>
                                        <div class="zn-priceList-dottedSeparator"></div>
                                        <div class="itemPrice">$10.00</div>
                                    </div>
                                    <div class="item-desc">
                                        Onions / Fresh flat-leaf parsley / Mashed potatoes / Pepper
                                        / Eggs / Tartare sauce
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/shop-detail.html">
                                    <div class="item-main">
                                        <h4>
                                            CHILLED PEA &amp; CHERVIL SOUP WITH CRÈME FRAÎCHE <small>(250 G)</small>
                                        </h4>
                                        <div class="zn-priceList-dottedSeparator"></div>
                                        <div class="itemPrice">$10.00</div>
                                    </div>
                                    <div class="item-desc">
                                        Onions / Fresh flat-leaf parsley / Mashed potatoes / Pepper
                                        / Eggs / Tartare sauce
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/shop-detail.html">
                                    <div class="item-main">
                                        <h4>
                                            CHILLED PEA &amp; CHERVIL SOUP WITH CRÈME FRAÎCHE <small>(250 G)</small>
                                        </h4>
                                        <div class="zn-priceList-dottedSeparator"></div>
                                        <div class="itemPrice">$10.00</div>
                                    </div>
                                    <div class="item-desc">
                                        Onions / Fresh flat-leaf parsley / Mashed potatoes / Pepper
                                        / Eggs / Tartare sauce
                                    </div>
                                </a>
                            </li>


                        </ul>

                    </div>
                </div>
                <div style="margin-top: 60px;" class="menu-left col-lg-4 col-12">
                    <div class="wrapper-img">
                        <img src="/assets/images/menu/img_10.jpg" alt="">
                        <div class="overlay"></div>
                    </div>
                    <div class="wrapper-content">
                        <h3>Asparagus &amp; Halloumi Salad</h3>
                        <div class="empty">(250 G)</div>
                        <p>Beans / Halloumi cheese / Asparagus / Courgettes / Cherry tomatoes</p>
                        <div class="price">18.90</div>
                    </div>
                </div>
                <div style="margin-top: 60px;" class="menu-left col-lg-4 col-12">
                    <div class="wrapper-img">
                        <img src="/assets/images/menu/img_10.jpg" alt="">
                        <div class="overlay"></div>
                    </div>
                    <div class="wrapper-content">
                        <h3>Asparagus &amp; Halloumi Salad</h3>
                        <div class="empty">(250 G)</div>
                        <p>Beans / Halloumi cheese / Asparagus / Courgettes / Cherry tomatoes</p>
                        <div class="price">18.90</div>
                    </div>
                </div>
                <div style="margin-top: 60px;" class="menu-right col-lg-8 col-12">
                    <div class="inner-content">
                        <h5>Tasty</h5>
                        <h2>Starters</h2>
                    </div>
                    <div class="menu-starter col-12">
                        <ul>
                            <li>
                                <a href="/shop-detail.html">
                                    <div class="item-main">
                                        <h4>
                                            CHILLED PEA &amp; CHERVIL SOUP WITH CRÈME FRAÎCHE <small>(250 G)</small>
                                        </h4>
                                        <div class="zn-priceList-dottedSeparator"></div>
                                        <div class="itemPrice">$10.00</div>
                                    </div>
                                    <div class="item-desc">
                                        Onions / Fresh flat-leaf parsley / Mashed potatoes / Pepper
                                        / Eggs / Tartare sauce
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/shop-detail.html">
                                    <div class="item-main">
                                        <h4>
                                            CHILLED PEA &amp; CHERVIL SOUP WITH CRÈME FRAÎCHE <small>(250 G)</small>
                                        </h4>
                                        <div class="zn-priceList-dottedSeparator"></div>
                                        <div class="itemPrice">$10.00</div>
                                    </div>
                                    <div class="item-desc">
                                        Onions / Fresh flat-leaf parsley / Mashed potatoes / Pepper
                                        / Eggs / Tartare sauce
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/shop-detail.html">
                                    <div class="item-main">
                                        <h4>
                                            CHILLED PEA &amp; CHERVIL SOUP WITH CRÈME FRAÎCHE <small>(250 G)</small>
                                        </h4>
                                        <div class="zn-priceList-dottedSeparator"></div>
                                        <div class="itemPrice">$10.00</div>
                                    </div>
                                    <div class="item-desc">
                                        Onions / Fresh flat-leaf parsley / Mashed potatoes / Pepper
                                        / Eggs / Tartare sauce
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/shop-detail.html">
                                    <div class="item-main">
                                        <h4>
                                            CHILLED PEA &amp; CHERVIL SOUP WITH CRÈME FRAÎCHE <small>(250 G)</small>
                                        </h4>
                                        <div class="zn-priceList-dottedSeparator"></div>
                                        <div class="itemPrice">$10.00</div>
                                    </div>
                                    <div class="item-desc">
                                        Onions / Fresh flat-leaf parsley / Mashed potatoes / Pepper
                                        / Eggs / Tartare sauce
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/shop-detail.html">
                                    <div class="item-main">
                                        <h4>
                                            CHILLED PEA &amp; CHERVIL SOUP WITH CRÈME FRAÎCHE <small>(250 G)</small>
                                        </h4>
                                        <div class="zn-priceList-dottedSeparator"></div>
                                        <div class="itemPrice">$10.00</div>
                                    </div>
                                    <div class="item-desc">
                                        Onions / Fresh flat-leaf parsley / Mashed potatoes / Pepper
                                        / Eggs / Tartare sauce
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/shop-detail.html">
                                    <div class="item-main">
                                        <h4>
                                            CHILLED PEA &amp; CHERVIL SOUP WITH CRÈME FRAÎCHE <small>(250 G)</small>
                                        </h4>
                                        <div class="zn-priceList-dottedSeparator"></div>
                                        <div class="itemPrice">$10.00</div>
                                    </div>
                                    <div class="item-desc">
                                        Onions / Fresh flat-leaf parsley / Mashed potatoes / Pepper
                                        / Eggs / Tartare sauce
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/shop-detail.html">
                                    <div class="item-main">
                                        <h4>
                                            CHILLED PEA &amp; CHERVIL SOUP WITH CRÈME FRAÎCHE <small>(250 G)</small>
                                        </h4>
                                        <div class="zn-priceList-dottedSeparator"></div>
                                        <div class="itemPrice">$10.00</div>
                                    </div>
                                    <div class="item-desc">
                                        Onions / Fresh flat-leaf parsley / Mashed potatoes / Pepper
                                        / Eggs / Tartare sauce
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/shop-detail.html">
                                    <div class="item-main">
                                        <h4>
                                            CHILLED PEA &amp; CHERVIL SOUP WITH CRÈME FRAÎCHE <small>(250 G)</small>
                                        </h4>
                                        <div class="zn-priceList-dottedSeparator"></div>
                                        <div class="itemPrice">$10.00</div>
                                    </div>
                                    <div class="item-desc">
                                        Onions / Fresh flat-leaf parsley / Mashed potatoes / Pepper
                                        / Eggs / Tartare sauce
                                    </div>
                                </a>
                            </li>


                        </ul>

                    </div>
                </div>
                <div style="margin-top: 60px;" class="menu-right col-lg-8 col-12">
                    <div class="inner-content">
                        <h5>Tasty</h5>
                        <h2>Starters</h2>
                    </div>
                    <div class="menu-starter col-12">
                        <ul>
                            <li>
                                <a href="/shop-detail.html">
                                    <div class="item-main">
                                        <h4>
                                            CHILLED PEA &amp; CHERVIL SOUP WITH CRÈME FRAÎCHE <small>(250 G)</small>
                                        </h4>
                                        <div class="zn-priceList-dottedSeparator"></div>
                                        <div class="itemPrice">$10.00</div>
                                    </div>
                                    <div class="item-desc">
                                        Onions / Fresh flat-leaf parsley / Mashed potatoes / Pepper
                                        / Eggs / Tartare sauce
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/shop-detail.html">
                                    <div class="item-main">
                                        <h4>
                                            CHILLED PEA &amp; CHERVIL SOUP WITH CRÈME FRAÎCHE <small>(250 G)</small>
                                        </h4>
                                        <div class="zn-priceList-dottedSeparator"></div>
                                        <div class="itemPrice">$10.00</div>
                                    </div>
                                    <div class="item-desc">
                                        Onions / Fresh flat-leaf parsley / Mashed potatoes / Pepper
                                        / Eggs / Tartare sauce
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/shop-detail.html">
                                    <div class="item-main">
                                        <h4>
                                            CHILLED PEA &amp; CHERVIL SOUP WITH CRÈME FRAÎCHE <small>(250 G)</small>
                                        </h4>
                                        <div class="zn-priceList-dottedSeparator"></div>
                                        <div class="itemPrice">$10.00</div>
                                    </div>
                                    <div class="item-desc">
                                        Onions / Fresh flat-leaf parsley / Mashed potatoes / Pepper
                                        / Eggs / Tartare sauce
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/shop-detail.html">
                                    <div class="item-main">
                                        <h4>
                                            CHILLED PEA &amp; CHERVIL SOUP WITH CRÈME FRAÎCHE <small>(250 G)</small>
                                        </h4>
                                        <div class="zn-priceList-dottedSeparator"></div>
                                        <div class="itemPrice">$10.00</div>
                                    </div>
                                    <div class="item-desc">
                                        Onions / Fresh flat-leaf parsley / Mashed potatoes / Pepper
                                        / Eggs / Tartare sauce
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/shop-detail.html">
                                    <div class="item-main">
                                        <h4>
                                            CHILLED PEA &amp; CHERVIL SOUP WITH CRÈME FRAÎCHE <small>(250 G)</small>
                                        </h4>
                                        <div class="zn-priceList-dottedSeparator"></div>
                                        <div class="itemPrice">$10.00</div>
                                    </div>
                                    <div class="item-desc">
                                        Onions / Fresh flat-leaf parsley / Mashed potatoes / Pepper
                                        / Eggs / Tartare sauce
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/shop-detail.html">
                                    <div class="item-main">
                                        <h4>
                                            CHILLED PEA &amp; CHERVIL SOUP WITH CRÈME FRAÎCHE <small>(250 G)</small>
                                        </h4>
                                        <div class="zn-priceList-dottedSeparator"></div>
                                        <div class="itemPrice">$10.00</div>
                                    </div>
                                    <div class="item-desc">
                                        Onions / Fresh flat-leaf parsley / Mashed potatoes / Pepper
                                        / Eggs / Tartare sauce
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/shop-detail.html">
                                    <div class="item-main">
                                        <h4>
                                            CHILLED PEA &amp; CHERVIL SOUP WITH CRÈME FRAÎCHE <small>(250 G)</small>
                                        </h4>
                                        <div class="zn-priceList-dottedSeparator"></div>
                                        <div class="itemPrice">$10.00</div>
                                    </div>
                                    <div class="item-desc">
                                        Onions / Fresh flat-leaf parsley / Mashed potatoes / Pepper
                                        / Eggs / Tartare sauce
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/shop-detail.html">
                                    <div class="item-main">
                                        <h4>
                                            CHILLED PEA &amp; CHERVIL SOUP WITH CRÈME FRAÎCHE <small>(250 G)</small>
                                        </h4>
                                        <div class="zn-priceList-dottedSeparator"></div>
                                        <div class="itemPrice">$10.00</div>
                                    </div>
                                    <div class="item-desc">
                                        Onions / Fresh flat-leaf parsley / Mashed potatoes / Pepper
                                        / Eggs / Tartare sauce
                                    </div>
                                </a>
                            </li>


                        </ul>

                    </div>
                </div>
                <div style="margin-top: 60px;" class="menu-left col-lg-4 col-12">
                    <div class="wrapper-img">
                        <img src="/assets/images/menu/img_10.jpg" alt="">
                        <div class="overlay"></div>
                    </div>
                    <div class="wrapper-content">
                        <h3>Asparagus &amp; Halloumi Salad</h3>
                        <div class="empty">(250 G)</div>
                        <p>Beans / Halloumi cheese / Asparagus / Courgettes / Cherry tomatoes</p>
                        <div class="price">18.90</div>
                    </div>
                </div>


            </div>

        </div>
    </section>
    <!-- MenuPart End -->
</main>
