
@model BlogCreatedto

<form method="post" class="category" style="width: 100%" enctype="multipart/form-data">
    <div class="content-wrapper" style=" height: 100vh; overflow: scroll">
        <div class="page-header">
            <h3 class="page-title">Blog Create </h3>
            
        </div>
        <div class="row">
            <div class="col-md-6 grid-margin stretch-card" style=" width:100%">
                <div class="card">
                    <div class="card-body">
                        <form class="forms-sample">
                            <div class="form-group">
                                <label asp-for="Title" for="exampleInputUsername1">Title</label>
                                <input type="text" class="form-control" id="exampleInputTitle" asp-for="Title" placeholder="Title">
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ShortDescription" for="exampleInputSubtitle">Short Description</label>
                                <input type="text" class="form-control" id="exampleInputShortDescription" placeholder="Surname" asp-for="ShortDescription">
                                <span asp-validation-for="ShortDescription" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="LongDescription" for="exampleInputSubtitle">Long Description</label>
                                <input type="text" class="form-control" id="exampleInputDescription" placeholder="Description" asp-for="LongDescription">
                                <span asp-validation-for="LongDescription" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Image" for="exampleInputUsername1"></label>
                                <input class="form-control" id="exampleInputName" asp-for="Image" placeholder="Enter Image" />
                                <span asp-validation-for="Image" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1" class="form-label"> Topic</label>
                                <select asp-for="TopicIds" asp-items="@(new SelectList(ViewBag.Topics,nameof(Topic.Id),nameof(Topic.Name)))" class="form-control">
                                    <option disabled selected>Select Topics</option>
                                </select>
                                <span asp-validation-for="TopicIds" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1" class="form-label"> Author</label>
                                <select asp-for="AuthorId" asp-items="@(new SelectList(ViewBag.Author,nameof(Author.Id),nameof(Author.Name)))" class="form-control">
                                    <option disabled selected>Select Author</option>
                                </select>
                                <span asp-validation-for="AuthorId" class="text-danger"></span>
                            </div>
                            <div asp-validation-summary="ModelOnly" class="text-danger">  </div>
                            <button type="submit" class="btn btn-primary me-2">Submit</button>
                            <button class="btn btn-dark">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>